<a href="https://colab.research.google.com/github/ianhernandezz/Capstone_Final_Report/blob/main/Initial_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
#Import restaurant file 
from google.colab import files
 
 
uploaded = files.upload()

Saving SF_Restaurant_Scores_Standard.csv to SF_Restaurant_Scores_Standard (3).csv

In [139]:
#initial imports
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [140]:
df = pd.read_csv("SF_Restaurant_Scores_Standard.csv")

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53973 entries, 0 to 53972
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   business_id                   53973 non-null  int64
 1   business_name                 53973 non-null  object
 2   business_address              53973 non-null  object
 3   business_city                 53973 non-null  object
 4   business_state                53973 non-null  object
 5   business_postal_code          52787 non-null  object
 6   business_latitude             27475 non-null  float64
 7   business_longitude            27475 non-null  float64
 8   business_location             27460 non-null  object
 9   business_phone_number         17672 non-null  float64
 10  inspection_id                 53973 non-null  object
 11  inspection_date               53973 non-null  object
 12  inspection_score              39541 non-null  float64
 13  inspection_type               53973 non-null  object
 14  violation_id                  40253 non-null  object
 15  violation_description         40253 non-null  object
 16  risk_category                 40253 non-null  object
 17  Neighborhoods                 27435 non-null  float64
 18  SF Find Neighborhoods         27435 non-null  float64
 19  Current Police Districts      27447 non-null  float64
 20  Current Supervisor Districts  27447 non-null  float64
 21  Analysis Neighborhoods        27447 non-null  float64
dtypes: float64(9), int64(1), object(12)
memory usage: 9.1+ MB

In [142]:
#drop initial columns 
df = df.drop(columns=["business_phone_number", "business_address", "business_location", "business_longitude", "business_latitude", "business_id", "business_name", "business_city", "business_state", "SF Find Neighborhoods",
                      "Current Supervisor Districts", "Analysis Neighborhoods", "violation_id"])

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53973 entries, 0 to 53972
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   business_postal_code      52787 non-null  object
 1   inspection_id             53973 non-null  object
 2   inspection_date           53973 non-null  object
 3   inspection_score          39541 non-null  float64
 4   inspection_type           53973 non-null  object
 5   violation_description     40253 non-null  object
 6   risk_category             40253 non-null  object
 7   Neighborhoods             27435 non-null  float64
 8   Current Police Districts  27447 non-null  float64
dtypes: float64(3), object(6)
memory usage: 3.7+ MB

In [144]:
#drop rows that contain any null values 
df = df.dropna()

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20311 entries, 0 to 38177
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   business_postal_code      20311 non-null  object
 1   inspection_id             20311 non-null  object
 2   inspection_date           20311 non-null  object
 3   inspection_score          20311 non-null  float64
 4   inspection_type           20311 non-null  object
 5   violation_description     20311 non-null  object
 6   risk_category             20311 non-null  object
 7   Neighborhoods             20311 non-null  float64
 8   Current Police Districts  20311 non-null  float64
dtypes: float64(3), object(6)
memory usage: 1.5+ MB

In [147]:
#loop over business_postal_code and get unique postal codes 
postal_list = []

for postal in df["business_postal_code"]:
  if postal not in postal_list:
    postal_list.append(postal)

In [148]:
#loop over list to remove all false postal codes
postal_list

for code in postal_list:
  if len(code) < 5 or len(code) > 5:
    postal_list.remove(code)

In [149]:
len(postal_list)

33

In [150]:
postal_list.remove("941102019")

In [151]:
df.shape

(20311, 9)

In [152]:
#loop dataframe business_postal_code column to drop rows with postal codes not in postal_list
for index, postal in df["business_postal_code"].iteritems():
  if postal not in postal_list:
    df = df.drop(index)

In [155]:
#change data type from object to int
df["business_postal_code"] = df["business_postal_code"].astype(int)

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20292 entries, 0 to 38177
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   business_postal_code      20292 non-null  int64
 1   inspection_id             20292 non-null  object
 2   inspection_date           20292 non-null  object
 3   inspection_score          20292 non-null  float64
 4   inspection_type           20292 non-null  object
 5   violation_description     20292 non-null  object
 6   risk_category             20292 non-null  object
 7   Neighborhoods             20292 non-null  float64
 8   Current Police Districts  20292 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 1.5+ MB

In [158]:
df["business_postal_code"].astype(int)

0        94133
1        94108
2        94118
3        94109
4        94114
         ...
38162    94118
38165    94112
38167    94103
38172    94103
38177    94102
Name: business_postal_code, Length: 20292, dtype: int64

In [159]:
#get df postal codes in an array 
postal_code_array = []

df["business_postal_code"]
for i in df["business_postal_code"]:
  postal_code_array.append(i)

In [160]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
drive.mount('/content/drive')
path = '/content/drive/My Drive/Updated_SF_Restaurant_Score.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [161]:
#Import restaurant file 
from google.colab import files
 
 
uploaded = files.upload()

Saving san_fran_pop_income.xlsx - Sheet1.csv to san_fran_pop_income.xlsx - Sheet1 (3).csv

In [162]:
import pandas as pd

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20292 entries, 0 to 38177
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   business_postal_code      20292 non-null  int64
 1   inspection_id             20292 non-null  object
 2   inspection_date           20292 non-null  object
 3   inspection_score          20292 non-null  float64
 4   inspection_type           20292 non-null  object
 5   violation_description     20292 non-null  object
 6   risk_category             20292 non-null  object
 7   Neighborhoods             20292 non-null  float64
 8   Current Police Districts  20292 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 1.5+ MB

In [164]:
#import smaller csv to dataframe
pop_income_df = pd.read_csv("san_fran_pop_income.xlsx - Sheet1.csv")

In [180]:
pop_income_df["business_postal_code"]

0     94127
1     94105
2     94123
3     94130
4     94131
5     94114
6     94129
7     94116
8     94117
9     94121
10    94118
11    94107
12    94122
13    94112
14    94111
15    94132
16    94115
17    94134
18    94110
19    94109
20    94133
21    94124
22    94108
23    94103
24    94102
25    94104
26    94128
Name: business_postal_code, dtype: int64

In [166]:
#add smaller csv business_postal_code to an array 
pop_income_df_array = []
for pop_income in pop_income_df["business_postal_code"]:
  pop_income_df_array.append(pop_income)

In [167]:
#look at the unique postal codes of larger data set
df["business_postal_code"].nunique()

32

In [172]:
#Python program to find the common elements in two lists

def common_member(a, b):
    result = [i for i in a if i in b]
    return result

pop_income_df_array
postal_code_array

print("The common elements in the two lists are: ")
postal_result = common_member(pop_income_df_array, postal_code_array)
print(len(postal_result))

The common elements in the two lists are:
25

In [173]:
#loop over larger data set to drop rows that don't have a postal code in postal_result ^
for index, postal in df["business_postal_code"].iteritems():
  if postal not in postal_result:
    df = df.drop(index)

In [174]:
df.shape

(20244, 9)

In [175]:
df.head()

,business_postal_code,inspection_id,inspection_date,inspection_score,inspection_type,violation_description,risk_category,Neighborhoods,Current Police Districts
0,94133,835_20180917,09/17/2018 12:00:00 AM,88.0,Routine - Unscheduled,Improper food storage,Low Risk,107.0,6.0
1,94108,905_20190415,04/15/2019 12:00:00 AM,87.0,Routine - Unscheduled,High risk vermin infestation,High Risk,19.0,6.0
2,94118,1203_20170803,08/03/2017 12:00:00 AM,77.0,Routine - Unscheduled,Moderate risk food holding temperature,Moderate Risk,5.0,8.0
3,94109,1345_20170928,09/28/2017 12:00:00 AM,81.0,Routine - Unscheduled,Improper cooling methods,High Risk,105.0,4.0
4,94114,1352_20180620,06/20/2018 12:00:00 AM,74.0,Routine - Unscheduled,Non service animal,Low Risk,38.0,3.0

In [176]:
drive.mount('/content/drive')
path = '/content/drive/My Drive/final_SF_Restaurant_Score.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [182]:
#drop rows from smaller csv that have a postal code that is not in the postal_result
for index, postal in pop_income_df["business_postal_code"].iteritems():
  if postal not in postal_result:
    pop_income_df = pop_income_df.drop(index)

In [185]:
#row count here matches the same amount of postal codes in postal_result
pop_income_df.shape

(25, 4)

In [186]:
#export new csv of smaller data set.
drive.mount('/content/drive')
path = '/content/drive/My Drive/final_Pop_Income_data.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  pop_income_df.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).