In [1]:
# Initial imports.
import numpy as np
from pathlib import Path
from collections import Counter
import pandas as pd
from path import Path
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
file_path = Path("../Data/final_table_ml_stage2.csv")
risk_df = pd.read_csv(file_path)
risk_df.head()

,business_postal_code_1,inspection_id,inspection_date,inspection_score,violation_description,risk_category,neighborhoods,Current Police Districts,population,avg_income
0,94133,835_20180917,September,88,Improper food storage,Low Risk,107,6,26827.0,40990.0
1,94108,905_20190415,April,87,High risk vermin infestation,High Risk,19,6,13716.0,31542.0
2,94118,1203_20170803,August,77,Moderate risk food holding temperature,Moderate Risk,5,8,38939.0,61609.0
3,94109,1345_20170928,September,81,Improper cooling methods,High Risk,105,4,56322.0,43444.0
4,94114,1352_20180620,June,74,Non service animal,Low Risk,38,3,30574.0,75727.0

In [3]:
# Create our features
X = risk_df.drop(columns='risk_category')

# Create our target
y = risk_df['risk_category']
y.value_counts()

Low Risk         9820
Moderate Risk    7599
High Risk        2825
Name: risk_category, dtype: int64

In [4]:
X.describe()

,business_postal_code_1,inspection_score,neighborhoods,Current Police Districts,population,avg_income
count,20244.000000,20244.000000,20244.000000,20244.000000,20244.000000,20244.000000
mean,94114.061203,85.344892,57.263485,5.399081,37738.252420,51372.542482
std,9.350442,8.110656,35.014539,2.681820,21784.166592,17502.372234
min,94102.000000,46.000000,1.000000,1.000000,374.000000,14609.000000
25%,94108.000000,81.000000,28.000000,3.000000,23016.000000,40990.000000
50%,94111.000000,87.000000,53.000000,6.000000,33115.000000,53795.000000
75%,94121.000000,92.000000,96.000000,8.000000,55492.000000,61362.000000
max,94134.000000,100.000000,117.000000,10.000000,74633.000000,95313.000000

In [5]:
months_num = {
   "January": 1,
   "February": 2,
   "March": 3,
   "April": 4,
   "May": 5,
   "June": 6,
   "July": 7,
   "August": 8,
   "September": 9,
   "October": 10,
   "November": 11,
   "December": 12,
}

In [6]:
X["months_num"] = X["inspection_date"].apply(lambda x: months_num[x])

In [7]:
months_num["June"]

6

In [8]:
X

,business_postal_code_1,inspection_id,inspection_date,inspection_score,violation_description,neighborhoods,Current Police Districts,population,avg_income,months_num
0,94133,835_20180917,September,88,Improper food storage,107,6,26827.0,40990.0,9
1,94108,905_20190415,April,87,High risk vermin infestation,19,6,13716.0,31542.0,4
2,94118,1203_20170803,August,77,Moderate risk food holding temperature,5,8,38939.0,61609.0,8
3,94109,1345_20170928,September,81,Improper cooling methods,105,4,56322.0,43444.0,9
4,94114,1352_20180620,June,74,Non service animal,38,3,30574.0,75727.0,6
...,...,...,...,...,...,...,...,...,...,...
20239,94118,68998_20181026,October,94,Improper storage of equipment utensils or linens,5,8,38939.0,61609.0,10
20240,94112,66584_20180430,April,90,Moderate risk food holding temperature,90,9,73104.0,57629.0,4
20241,94103,67182_20170731,July,96,Inadequate warewashing facilities or equipment,53,3,23016.0,31131.0,7
20242,94103,70090_20170105,January,93,Improper cooling methods,32,1,23016.0,31131.0,1
20243,94102,66517_20190524,May,84,Inadequate and inaccessible handwashing facili...,21,4,28991.0,22351.0,5

In [9]:
X = X.drop(columns='inspection_date')
X.head()

,business_postal_code_1,inspection_id,inspection_score,violation_description,neighborhoods,Current Police Districts,population,avg_income,months_num
0,94133,835_20180917,88,Improper food storage,107,6,26827.0,40990.0,9
1,94108,905_20190415,87,High risk vermin infestation,19,6,13716.0,31542.0,4
2,94118,1203_20170803,77,Moderate risk food holding temperature,5,8,38939.0,61609.0,8
3,94109,1345_20170928,81,Improper cooling methods,105,4,56322.0,43444.0,9
4,94114,1352_20180620,74,Non service animal,38,3,30574.0,75727.0,6

In [10]:
X_encoded = pd.get_dummies(X)
X_encoded

,business_postal_code_1,inspection_score,neighborhoods,Current Police Districts,population,avg_income,months_num,inspection_id_1000_20171002,inspection_id_1000_20180523,inspection_id_1000_20190617,...,violation_description_Unauthorized or unsafe use of time as a public health control measure,violation_description_Unclean hands or improper use of gloves,violation_description_Unclean nonfood contact surfaces,violation_description_Unclean or degraded floors walls or ceilings,violation_description_Unclean or unsanitary food contact surfaces,violation_description_Unclean unmaintained or improperly constructed toilet facilities,violation_description_Unpermitted food facility,violation_description_Unsanitary employee garments hair or nails,violation_description_Wiping cloths not clean or properly stored or inadequate sanitizer,violation_description_Worker safety hazards
0,94133,88,107,6,26827.0,40990.0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,94108,87,19,6,13716.0,31542.0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,94118,77,5,8,38939.0,61609.0,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,94109,81,105,4,56322.0,43444.0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,94114,74,38,3,30574.0,75727.0,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20239,94118,94,5,8,38939.0,61609.0,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20240,94112,90,90,9,73104.0,57629.0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20241,94103,96,53,3,23016.0,31131.0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20242,94103,93,32,1,23016.0,31131.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20243,94102,84,21,4,28991.0,22351.0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
data_scaler = StandardScaler()

In [12]:
X_encoded_scaled = data_scaler.fit_transform(X_encoded)
X_encoded_scaled[:1]

array([[ 2.02549393,  0.3273685 ,  1.42048832, ..., -0.02723068,
        -0.21444189, -0.02812442]])

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded_scaled, y, random_state = 1)

In [14]:
y_train.value_counts()

Low Risk         7323
Moderate Risk    5724
High Risk        2136
Name: risk_category, dtype: int64

In [ ]:

# Postgres username, password, and database name
# POSTGRES_ADDRESS = 'db.panoply.io' ## INSERT YOUR DB ADDRESS 
# POSTGRES_PORT = '5432'
# POSTGRES_USERNAME = 'postgres'
# POSTGRES_PASSWORD = 'data' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD POSTGRES_DBNAME = 'database' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
# postgres_str = ('postgresql://{postgres}:{data}@52.203.205.31:{5432}/{Capstone_Projecct_DB}'
   # format(username=POSTGRES_USERNAME,
   # password=POSTGRES_PASSWORD,
   # ipaddress=POSTGRES_ADDRESS,
   # port=POSTGRES_PORT,
   # dbname=POSTGRES_DBNAME))
# Create the connection
# cnx = create_engine(postgres_str)

In [ ]:
# Loading data
# file_path = Path("./Data/SFRestaurant_Scores_Standard.csv")
# df = pd.read_csv(file_path)
# df.head()

In [ ]:
# # Define the features set.
# X = risk_data_scaled.copy()
# X = risk_data_scaled.drop(columns='risk_category')
# X.head()

In [ ]:
# # Define the target set.
# y = df["<column>"].ravel()
# y[:5]

In [ ]:
# # Splitting into Train and Test sets.
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [17]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [18]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [20]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1", "Actual 3"], columns=["Predicted 0", "Predicted 1", "Actual 3"])

cm_df

          Predicted 0  Predicted 1  Actual 3
Actual 0          687            1         1
Actual 1            0         2495         2
Actual 3            0            5      1870

In [21]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [22]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Actual 3
Actual 0          687            1         1
Actual 1            0         2495         2
Actual 3            0            5      1870

Accuracy Score : 0.998221695317131
Classification Report
               precision    recall  f1-score   support

    High Risk       1.00      1.00      1.00       689
     Low Risk       1.00      1.00      1.00      2497
Moderate Risk       1.00      1.00      1.00      1875

     accuracy                           1.00      5061
    macro avg       1.00      1.00      1.00      5061
 weighted avg       1.00      1.00      1.00      5061

In [23]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.00360426, 0.02594874, 0.0063014 , ..., 0.000348  , 0.02558175,
       0.00045576])

In [24]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.02594874084217027, 'inspection_id'),
 (0.00779133313292347, 'population'),
 (0.006301401580006283, 'inspection_score'),
 (0.0037021390111597616, 'violation_description'),
 (0.003604263335325777, 'business_postal_code_1'),
 (0.0031640271795506008, 'Current Police Districts'),
 (0.0030841864155398205, 'neighborhoods'),
 (4.797445882380072e-05, 'months_num'),
 (3.727220160899785e-05, 'avg_income')]