In [1]:
# Initial imports.
import sqlalchemy
import numpy as np
from pathlib import Path
from collections import Counter
import pandas as pd
from path import Path
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sqlalchemy import create_engine

In [2]:
# Loading data
file_path = Path("../Data/final_table_ml_stage2.csv")
risk_df = pd.read_csv(file_path)
risk_df.head()

,business_postal_code_1,inspection_id,inspection_date,inspection_score,violation_description,risk_category,neighborhoods,Current Police Districts,population,avg_income
0,94133,835_20180917,September,88,Improper food storage,Low Risk,107,6,"26,827","$40,990.00"
1,94108,905_20190415,April,87,High risk vermin infestation,High Risk,19,6,"13,716","$31,542.00"
2,94118,1203_20170803,August,77,Moderate risk food holding temperature,Moderate Risk,5,8,"38,939","$61,609.00"
3,94109,1345_20170928,September,81,Improper cooling methods,High Risk,105,4,"56,322","$43,444.00"
4,94114,1352_20180620,June,74,Non service animal,Low Risk,38,3,"30,574","$75,727.00"

In [3]:
# Drop inspection_id
risk_df1 = risk_df.drop(columns='inspection_id')

In [4]:
#drop inspection_score
risk_df2 = risk_df1.drop(columns='inspection_score')
risk_df2

,business_postal_code_1,inspection_date,violation_description,risk_category,neighborhoods,Current Police Districts,population,avg_income
0,94133,September,Improper food storage,Low Risk,107,6,"26,827","$40,990.00"
1,94108,April,High risk vermin infestation,High Risk,19,6,"13,716","$31,542.00"
2,94118,August,Moderate risk food holding temperature,Moderate Risk,5,8,"38,939","$61,609.00"
3,94109,September,Improper cooling methods,High Risk,105,4,"56,322","$43,444.00"
4,94114,June,Non service animal,Low Risk,38,3,"30,574","$75,727.00"
...,...,...,...,...,...,...,...,...
20239,94118,October,Improper storage of equipment utensils or linens,Low Risk,5,8,"38,939","$61,609.00"
20240,94112,April,Moderate risk food holding temperature,Moderate Risk,90,9,"73,104","$57,629.00"
20241,94103,July,Inadequate warewashing facilities or equipment,Low Risk,53,3,"23,016","$31,131.00"
20242,94103,January,Improper cooling methods,High Risk,32,1,"23,016","$31,131.00"
20243,94102,May,Inadequate and inaccessible handwashing facili...,Moderate Risk,21,4,"28,991","$22,351.00"

In [5]:
risk_df3 = risk_df2.drop(columns='violation_description')
risk_df3

,business_postal_code_1,inspection_date,risk_category,neighborhoods,Current Police Districts,population,avg_income
0,94133,September,Low Risk,107,6,"26,827","$40,990.00"
1,94108,April,High Risk,19,6,"13,716","$31,542.00"
2,94118,August,Moderate Risk,5,8,"38,939","$61,609.00"
3,94109,September,High Risk,105,4,"56,322","$43,444.00"
4,94114,June,Low Risk,38,3,"30,574","$75,727.00"
...,...,...,...,...,...,...,...
20239,94118,October,Low Risk,5,8,"38,939","$61,609.00"
20240,94112,April,Moderate Risk,90,9,"73,104","$57,629.00"
20241,94103,July,Low Risk,53,3,"23,016","$31,131.00"
20242,94103,January,High Risk,32,1,"23,016","$31,131.00"
20243,94102,May,Moderate Risk,21,4,"28,991","$22,351.00"

In [6]:
# Create our features
X = risk_df3.drop(columns='risk_category')

# Create our target
y = risk_df3['risk_category']
y.value_counts()

Low Risk         9820
Moderate Risk    7599
High Risk        2825
Name: risk_category, dtype: int64

In [7]:
X.describe()

       business_postal_code_1  neighborhoods  Current Police Districts
count            20244.000000   20244.000000              20244.000000
mean             94114.061203      57.263485                  5.399081
std                  9.350442      35.014539                  2.681820
min              94102.000000       1.000000                  1.000000
25%              94108.000000      28.000000                  3.000000
50%              94111.000000      53.000000                  6.000000
75%              94121.000000      96.000000                  8.000000
max              94134.000000     117.000000                 10.000000

In [8]:
# encode Month as a number
months_num = {
   "January": 1,
   "February": 2,
   "March": 3,
   "April": 4,
   "May": 5,
   "June": 6,
   "July": 7,
   "August": 8,
   "September": 9,
   "October": 10,
   "November": 11,
   "December": 12,
}

In [9]:
X["months_num"] = X["inspection_date"].apply(lambda x: months_num[x])

In [10]:
months_num["June"]

6

In [11]:
X

,business_postal_code_1,inspection_date,neighborhoods,Current Police Districts,population,avg_income,months_num
0,94133,September,107,6,"26,827","$40,990.00",9
1,94108,April,19,6,"13,716","$31,542.00",4
2,94118,August,5,8,"38,939","$61,609.00",8
3,94109,September,105,4,"56,322","$43,444.00",9
4,94114,June,38,3,"30,574","$75,727.00",6
...,...,...,...,...,...,...,...
20239,94118,October,5,8,"38,939","$61,609.00",10
20240,94112,April,90,9,"73,104","$57,629.00",4
20241,94103,July,53,3,"23,016","$31,131.00",7
20242,94103,January,32,1,"23,016","$31,131.00",1
20243,94102,May,21,4,"28,991","$22,351.00",5

In [12]:
# drop inspection_date
X = X.drop(columns='inspection_date')
X.head()

,business_postal_code_1,neighborhoods,Current Police Districts,population,avg_income,months_num
0,94133,107,6,"26,827","$40,990.00",9
1,94108,19,6,"13,716","$31,542.00",4
2,94118,5,8,"38,939","$61,609.00",8
3,94109,105,4,"56,322","$43,444.00",9
4,94114,38,3,"30,574","$75,727.00",6

In [13]:
# encode features
X_encoded = pd.get_dummies(X)
X_encoded

,business_postal_code_1,neighborhoods,Current Police Districts,months_num,"population_1,453","population_13,716","population_17,368","population_2,058","population_20,624","population_22,903",...,"avg_income_$61,609.00","avg_income_$61,776.00","avg_income_$63,983.00","avg_income_$66,627.00","avg_income_$75,727.00","avg_income_$76,044.00","avg_income_$80,959.00","avg_income_$84,710.00","avg_income_$88,976.00","avg_income_$95,313.00"
0,94133,107,6,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,94108,19,6,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,94118,5,8,8,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,94109,105,4,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,94114,38,3,6,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20239,94118,5,8,10,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20240,94112,90,9,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20241,94103,53,3,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20242,94103,32,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20243,94102,21,4,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# scale features
data_scaler = StandardScaler()

In [15]:
# fit transform 
X_encoded_scaled = data_scaler.fit_transform(X_encoded)
X_encoded_scaled[:1]

array([[ 2.02549393,  1.42048832,  0.22407683,  0.76038594, -0.01217432,
        -0.21190928, -0.19991779, -0.18869199, -0.10262856, -0.1686698 ,
        -0.29847904, -0.12429577,  3.52356452, -0.10907076, -0.27152239,
        -0.18615034, -0.16316883, -0.20754523, -0.16507332, -0.14484623,
        -0.16711459, -0.22807656, -0.13398293, -0.21024956, -0.13283222,
        -0.21444189, -0.27961566, -0.22324122, -0.3837041 , -0.14484623,
        -0.27152239, -0.29847904, -0.21190928, -0.16507332,  3.52356452,
        -0.27961566, -0.3837041 , -0.13398293, -0.20754523, -0.12429577,
        -0.18615034, -0.22324122, -0.21444189, -0.19991779, -0.22807656,
        -0.21024956, -0.16711459, -0.13283222, -0.16316883, -0.10907076,
        -0.01217432, -0.1686698 , -0.18869199, -0.10262856]])

In [16]:
# separate features and target into train and test using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded_scaled, y, random_state = 1)

In [17]:
y_train.value_counts()

Low Risk         7323
Moderate Risk    5724
High Risk        2136
Name: risk_category, dtype: int64

In [18]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [20]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [21]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [23]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1", "Actual 3"], columns=["Predicted 0", "Predicted 1", "Predicted 3"])

cm_df

          Predicted 0  Predicted 1  Predicted 3
Actual 0           28          468          193
Actual 1           46         1743          708
Actual 3           52         1267          556

In [24]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [25]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 3
Actual 0           28          468          193
Actual 1           46         1743          708
Actual 3           52         1267          556

Accuracy Score : 0.45979055522623985
Classification Report
               precision    recall  f1-score   support

    High Risk       0.22      0.04      0.07       689
     Low Risk       0.50      0.70      0.58      2497
Moderate Risk       0.38      0.30      0.33      1875

     accuracy                           0.46      5061
    macro avg       0.37      0.35      0.33      5061
 weighted avg       0.42      0.46      0.42      5061

In [26]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([1.63108635e-02, 2.87501695e-01, 5.95130221e-02, 5.67581028e-01,
       2.11916765e-04, 1.19942579e-03, 1.67762943e-03, 1.83945752e-03,
       6.96294579e-04, 7.26472847e-04, 2.55084421e-03, 1.18280328e-03,
       3.47021712e-03, 8.08865832e-04, 1.20825794e-03, 1.49032620e-03,
       2.83606430e-03, 1.35212397e-03, 8.97908081e-04, 1.47519534e-03,
       1.74352978e-03, 1.28762885e-03, 1.03019070e-03, 9.23604324e-04,
       8.21426452e-04, 1.20683982e-03, 1.63557330e-03, 1.05986892e-03,
       1.56732079e-03, 1.52254402e-03, 1.58270848e-03, 2.31608957e-03,
       1.00248993e-03, 1.14144735e-03, 3.19356186e-03, 1.73994120e-03,
       1.56857934e-03, 1.10774936e-03, 1.37479060e-03, 1.35159292e-03,
       1.13895112e-03, 1.43519005e-03, 1.61717992e-03, 1.35510291e-03,
       1.16280864e-03, 9.41854916e-04, 1.65586510e-03, 9.84638101e-04,
       1.57389766e-03, 7.34826061e-04, 1.59952799e-04, 7.86107858e-04,
       1.93079230e-03, 8.14942544e-04])

In [27]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X_encoded.columns), reverse=True)

[(0.567581028356381, 'months_num'),
 (0.28750169522680064, 'neighborhoods'),
 (0.059513022133020066, 'Current Police Districts'),
 (0.016310863537433423, 'business_postal_code_1'),
 (0.0034702171222932145, 'population_26,827'),
 (0.003193561855610059, 'avg_income_$40,990.00 '),
 (0.0028360643023658204, 'population_30,574'),
 (0.0025508442127750294, 'population_23,016'),
 (0.0023160895744925337, 'avg_income_$31,131.00 '),
 (0.0019307922957839307, 'avg_income_$88,976.00 '),
 (0.0018394575221905949, 'population_2,058'),
 (0.001743529775453939, 'population_38,758'),
 (0.001739941199120143, 'avg_income_$43,444.00 '),
 (0.0016776294271218456, 'population_17,368'),
 (0.0016558650983203255, 'avg_income_$63,983.00 '),
 (0.0016355733017675929, 'population_56,322'),
 (0.0016171799190632088, 'avg_income_$60,733.00 '),
 (0.0015827084750220288, 'avg_income_$22,351.00 '),
 (0.0015738976561504375, 'avg_income_$75,727.00 '),
 (0.0015685793423886474, 'avg_income_$53,795.00 '),
 (0.0015673207885873455, 'population_74,633'),
 (0.001522544019926187, 'avg_income_$14,609.00 '),
 (0.0014903262023397506, 'population_3,335'),
 (0.0014751953419371079, 'population_374'),
 (0.0014351900460968894, 'avg_income_$57,629.00 '),
 (0.0013747905951684305, 'avg_income_$54,879.00 '),
 (0.001355102913276137, 'avg_income_$61,362.00 '),
 (0.0013521239745915307, 'population_33,115'),
 (0.0013515929225519246, 'avg_income_$55,000.00 '),
 (0.0012876288508190863, 'population_38,939'),
 (0.0012082579445203327, 'population_28,991'),
 (0.0012068398187117134, 'population_55,492'),
 (0.0011994257850860828, 'population_13,716'),
 (0.0011828032812289553, 'population_26,291'),
 (0.0011628086350692229, 'avg_income_$61,609.00 '),
 (0.0011414473490414865, 'avg_income_$37,146.00 '),
 (0.0011389511220843125, 'avg_income_$56,569.00 '),
 (0.0011077493638105838, 'avg_income_$54,342.00 '),
 (0.001059868918060818, 'population_73,104'),
 (0.001030190702701099, 'population_40,134'),
 (0.001002489932615052, 'avg_income_$31,542.00 '),
 (0.000984638101032252, 'avg_income_$66,627.00 '),
 (0.0009418549156239037, 'avg_income_$61,776.00 '),
 (0.000923604324114318, 'population_42,473'),
 (0.0008979080808924697, 'population_33,170'),
 (0.0008214264518698193, 'population_42,958'),
 (0.0008149425442325811, 'avg_income_$95,313.00 '),
 (0.0008088658321575332, 'population_27,897'),
 (0.0007861078580260909, 'avg_income_$84,710.00 '),
 (0.0007348260611133392, 'avg_income_$76,044.00 '),
 (0.0007264728468846973, 'population_22,903'),
 (0.0006962945789445356, 'population_20,624'),
 (0.00021191676482918394, 'population_1,453'),
 (0.00015995279850065862, 'avg_income_$80,959.00 ')]

In [ ]:
# connect to database
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"
# engine = create_engine(db_string)
# movies_df.to_sql(name='movies', con=engine, if_exists='replace')